html, body {
  margin: 0;
  padding: 0;
  /* background-color: #0f0c08; */
}
canvas {
  display: block;
}
.gamescreen {
  border: rgb(132, 0, 0) solid 3px;
  margin-right: 20px;
}
/* main {

} */

:root {
  --background-color: #1d170f;
  --text-color: #659237; 
}
@font-face {
  font-family: 'Open-Dyslexic';
  src: url('OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Open-Dyslexic', cursive, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-items:start;

}

h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
  margin-top: 0;
}

p {
  font-size: 1.3rem;
  line-height: 1;
}

a {
  text-decoration: none;
}
img {
  z-index: -1;
  /* position: absolute; */
  max-height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}