body {
    margin: 0%;
    background-color:#85642F;
    color: #413116;
    font-family:Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #413116;
    color: #85642F;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: solid black;
}
.face {
    max-width: 10%;
    max-height: 10%;
}
.container{
    margin: 10px;
}
/* .pointer{
    position: relative;
    display: flex;
    justify-content: center;
} */
.links{
    
    display: flex;
    justify-content: space-evenly;
}
button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #413116;
    color: #85642F;
    font-size: large;
}
canvas{
    position: relative;
    left: 50%;
    top: 100%;



    transform: translate(-50%, 0);

}